@import "./forms";
@import "./sections";
@import "./cards";
@import "./movie-video";
@import "./cardGrid";
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
$font_Tangerine-serif: "Open Sans", sans-serif;
$font-M: "Montserrat", sans-serif;
$font-os: "Oswald", sans-serif;
$font-me: "Merriweather Sans", sans-serif;

@mixin fonts($family) {
  font-family: $family;
  // font-size: $size;
}

h1,
h2,
h3,
h4 {
  @include fonts($font-os);
}

.module {
  width: 250px;
  overflow: hidden;
  color: red;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 95% !important;
}

span {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 601px) {
  .container {
    width: 95% !important;
  }

  .brand-logo {
    float: center;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 95% !important;
  }
}

.card_icons {
  display: flex;
  justify-content: space-between;
}

// .logo {
//   display: inline-block;
//   height: 100%;
// }

// .logo>img {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
// }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #37474f;
  color: #ffffff;
  @include fonts($font-M);
  position: relative;

  .login-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #37474f;
    opacity: 0.9;
    z-index: 1;
    display: flex;

    justify-content: center;

    &_form {
      position: fixed;
      opacity: 1;
    }

    &_close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      visibility: hidden;
    }
    &_open {
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
    }
  }
}

main {
  flex: 1 0 auto;
}
