@import "./forms";
@import "./sections";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
$font_Tangerine-serif: "Open Sans", sans-serif;
$font-M: "Montserrat", sans-serif;
$font-os: "Oswald", sans-serif;
$font-me: "Merriweather Sans", sans-serif;

@mixin fonts($family) {
  font-family: $family;
  // font-size: $size;
}

h1,
h2,
h3,
h4 {
  @include fonts($font-os);
}

.module {
  width: 250px;
  overflow: hidden;
  color: red;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 601px) {
  .container {
    width: 90%;
  }

  .brand-logo {
    float: center;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}

// .logo {
//   display: inline-block;
//   height: 100%;
// }

// .logo>img {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
// }

body {
  background-color: #263238;
  color: #263238;
  @include fonts($font-M);
}
