.mainCard {
  &_hovers {
    &-icons {
      padding-top: 0.5rem;
      &_favorite:hover {
        color: red;
        cursor: pointer;
      }
      &_favorite-true {
        color: red;
      }
    }
  }
}
