.movie_video {
  &-desc {
    padding: 1rem;
    &_details {
      &-ul {
        display: flex;
        justify-content: space-between;
      }
    }
    &_back {
      cursor: pointer;
    }
  }
}

.prelder {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .col-preloader {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
